---
import ProfileLayout from "./profileLayout.astro";
---

<ProfileLayout>
  <div class="flex flex-col w-full">
    <div class="text-xl font-bold">Settings</div>
    <div class="flex mt-10 w-full">
      <div class="w-fit">
        <div class="photo flex flex-col gap-5">
          <div id="imageContainer" class="w-60 overflow-hidden rounded-md">
            <img
              id="userImage"
              class="w-auto m-auto overflow-hidden"
              alt="user profile"
            />
          </div>
          <button
            id="addPhoto"
            class="border-2 border-blue-500 hover:bg-blue-500 hover:text-white transition-all ease-in-out rounded-md px-2 text-center"
            >Change Photo</button
          >
        </div>
      </div>
      <div class="w-full flex">
        <!-- name -->
        <div class="label flex flex-col pl-10 w-full">
          <div class="flex flex-col">
            <span class="font-[500] text-xl">User Name</span>
            <span id="userName" class="text-md pl-2 text-gray-700 py-2"></span>
          </div>
          <hr class="border-gray-400" />
          <br />

          <!-- email -->
          <div class="flex flex-col w-full">
            <span class="font-[500] text-xl">Email Addresses</span>
            <span class="text-sm font-[500]"
              >Select or Add new email address to recive notifications.</span
            >
            <div class="mt-5 flex w-full justify-between pr-10">
              <div class="emails text-sm font-[500] w-full">
                <div class="w-full flex justify-between text-lg">
                  <span class="pl-5">Email Address</span>
                  <span class="pr-[42%]">Status</span>
                </div>
                <hr class="border-[1px] border-gray-300" />

                <div id="emailList" class="w-full">
                  <div
                    id="emailItem"
                    class="flex justify-between text-lg text-gray-600"
                  >
                    <span class="pl-5" id="asEmail"></span>
                    <span class="pr-[40%]">Verified</span>
                  </div>
                </div>
                <div class="pt-5 pl-5">
                  <button
                    id="addEmail"
                    class="border-2 border-blue-400 px-2 py-1 rounded-md cursor-pointer hover:bg-blue-400 transition-all ease-in-out hover:text-white"
                    >Add email address</button
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- contact number -->
          <div class="flex flex-col w-full py-10">
            <hr class="border-1 border-gray-500 py-5" />
            <span class="font-[500] text-xl">Contact Number</span>
            <span class="text-sm font-[500]"
              >Select or Add new Contact number to recive notifications.</span
            >
            <div class="mt-5 flex w-full justify-between pr-10">
              <div class="contacts text-sm font-[500] w-full">
                <div class="w-full flex justify-between text-lg">
                  <span class="pl-5">Contact Number</span>
                  <span class="pr-[42%]">Status</span>
                </div>
                <hr class="border-1 border-gray-500" />

                <div id="contactList" class="w-full">
                  <div
                    id="contactItem"
                    class="flex justify-between text-lg text-gray-600"
                  >
                    <span class="pl-5" id="userContact"></span>
                    <span class="pr-[40%]">Verified</span>
                  </div>
                </div>
                <div class="pt-5 pl-5">
                  <button
                    id="addContact"
                    class="border-2 border-blue-400 px-2 py-1 rounded-md cursor-pointer hover:bg-blue-400 transition-all ease-in-out hover:text-white"
                    >Add Contact number</button
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ProfileLayout>

<script is:inline type="module">
  const userName = document.getElementById("userName");
  const email = document.getElementById("asEmail");
  const contactNumber = document.getElementById("userContact");

  const userDetail = JSON.parse(localStorage.getItem("user-details"));
  userName.innerHTML = userDetail.name;
  email.innerHTML = userDetail.email;
  contactNumber.innerHTML = userDetail.contact;

  const userImage = document.getElementById("userImage");

  const token = localStorage.getItem("token");
  fetch("http://localhost:3000/api/auth/getFullUserDetails", {
    method: "POST",
    headers: {
      "content-type": "application/json",
      Authorization: `Bearer ${token}`,
    },
  })
    .then((response) => {
      if (!response.ok) {
        return console.log("Response error");
      }
      return response.json();
    })
    .then((data) => {
      const { photo, ...userDetail } = data.data;
      userImage.setAttribute("src", `http://localhost:3000/${photo}`);
    })
    .catch((err) => {
      console.error(err);
    });
//   const addContact = document.getElementById("addContact");
//   const addEmail = document.getElementById("addemail");
//   const addPhoto = document.getElementById("addphoto");

//   addContact.addEventListener("click", () => {
//     // updateItem(contactNumber.innerHTML);
//     console.log(contactNumber.innerHTML)

//   });
//   const updateItem = (value) => {
//     fetch("http://localhost:3000/api/user/editUserdetail", {
//       method: "PUT",
//       headers: {
//         "content-type": "application/json",
//       },
//       body: value,
//     })
//       .then((response) => response.json())
//       .then((data) => {
//         console.log(data);
//       })
//       .catch((err) => {
//         console.log(err);
//       });
//   };
</script>
