<div class="mainBox w-full  h-[91vh] flex flex-col px-10 bg-gray-100">
    <div class=" font-bold p-5 text-2xl text-center w-full"><span class="border-b-[3px] py-2 border-blue-500">Profile</span></div>
    <div class="profile-nav-bar flex mt-10 bg-white rounded-md px-10 py-2 shadow-md">
        <ul class="flex gap-10">
            <a href="/profile/teacher" class="border-b-2 border-blue-400 profile-navs"><li>User details</li></a>
            <a href="/profile/settings" class="border-b-2 profile-navs "><li>Account settings</li></a>
        </ul>
    </div>
    <div class="flex mt-5 bg-white rounded-md px-10 py-2 shadow-md">
        <slot/>
    </div>
</div>

<script is:inline>
    const profileNavBtns=document.querySelectorAll('.profile-navs');
    profileNavBtns.forEach((btn)=>{
        const href=btn.getAttribute('href');
        if(href==window.location.pathname){
            btn.classList.add('border-b-2');
            return btn.classList.add('border-blue-400');
            
        }
        btn.classList.remove('border-b-2');
        return btn.classList.remove('border-blue-400');
    })
</script>