@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Quicksand:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Dosis", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  width: max-content;
  max-width: 90vw;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.5em;
}

.remember {
  display: flex;
  justify-content: space-between;
}

label {
  font-size: 0.7em;
  margin-top: 1em;
  font-weight: bold;
}

input {
  border: none;
  font-size: large;
}

span p {
  font-size: medium;
}

span a {
  font-size: medium;
}

.registerSpan {
  display: flex;
  justify-content: space-between;
}

.passDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}



.passDiv i {
  cursor: pointer;
}

.RIc {
  bottom: 27% !important;
}

.passDiv i:hover {
  color: grey;
}

.passInputs {
  width: 100%;
}

.main {
  border: none;
}

a {
  color: blue;
}

.loginBtn {
  border: none;
  font-size: large;
  padding: 10px 0px;
  border-radius: 10px;
  color: white;
}

.registerContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.regsiterMain {
  font-size: larger;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginModel {
  position: relative;
  top: -50vh;
  text-align: center;
  width: 100%;
  transition: 0.3s ease-in-out;
}

#loginModelText {
  background-color: skyblue;
  padding: 1em 2em;
  font-size: larger;
  border-radius: 5px;
  color: white;
}

@media (max-width: 700px) {
  .registerContainer {
    width: 90%;
  }
  .main {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  i {
    right: 1rem;
  }
}
