<div class="mainBox w-full md:w-[87%]  h-full flex flex-col">
    <div class="optionsBar flex  flex-col w-full ">
        <div class="semester flex ml-10 md:ml-0 rounded-lg p-5 gap-5">
            <select class="semester bg-white flex rounded-md px-3 py-2 text-center justify-center items-center :select outline-none " id="">
                <option value="">Semester 1</option>
                <option value="">Semester 2</option>
                <option value="">Semester 3</option>    
            </select>
            <a href=""><div class="createAssignment px-3 py-2 bg-purple-100 h-fit rounded-lg hover:bg-white">Create</div></a>
        </div>
        <div class="flex font-bold p-5 text-2xl">Assignments</div>
        <div class="assignment-list flex p-3 flex-col gap-5 w-full" id="assignment-list">

            
            
        </div>
    </div>
</div>