---
// import Calendar from "../scripts/calander";
---
<div class="mainBox w-full  h-[100vh] flex flex-col">

    <!-- small boxes -->
    <div class="small-boxes grid grid-cols-2 lg:grid-cols-4 w-[100%] gap-4 justify-center items-center p-2 px-10 py-10 h-fit pt-12">

        <div class="small-box shadow-md bg-center bg-cover flex flex-col h-fit  hover:shadow-xl transition-all ease-in-out duration-300  rounded-md w-full ">
            <div class="details flex  w-full m-2 rounded-sm p-2 text-lg ">Total students</div>
            <div class="icon-and-count flex justify-between px-10 ">
                <i class="fa-regular fa-user text-[2rem] flex items-center "></i>
                <div class="student-count flex justify-center items-center text-[2rem]">
                    516
                </div>
            </div>
        </div>
        <div class="small-box shadow-md bg-center bg-cover flex flex-col h-fit  hover:shadow-xl transition-all ease-in-out duration-300 rounded-md w-full ">
            <div class="details flex  w-full m-2 rounded-sm p-2 text-lg ">Total students</div>
            <div class="icon-and-count flex justify-between px-10 ">
                <i class="fa-regular fa-user text-[2rem] flex items-center "></i>
                <div class="student-count flex justify-center items-center text-[2rem]">
                    516
                </div>
            </div>
        </div>
        <div class="small-box shadow-md bg-center bg-cover flex flex-col h-fit hover:shadow-xl transition-all ease-in-out duration-300  rounded-md w-full ">
            <div class="details flex  w-full m-2 rounded-sm p-2 text-lg ">Total students</div>
            <div class="icon-and-count flex justify-between px-10 ">
                <i class="fa-regular fa-user text-[2rem] flex items-center "></i>
                <div class="student-count flex justify-center items-center text-[2rem]">
                    516
                </div>
            </div>
        </div>
        <div class="small-box shadow-md bg-center bg-cover flex flex-col h-fit hover:shadow-xl transition-all ease-in-out duration-300  rounded-md w-full ">
            <div class="details flex  w-full m-2 rounded-sm p-2 text-lg ">Total students</div>
            <div class="icon-and-count flex justify-between px-10 ">
                <i class="fa-regular fa-user text-[2rem] flex items-center "></i>
                <div class="student-count flex justify-center items-center text-[2rem]">
                    516
                </div>
            </div>
        </div>
        
    </div>
    <div class="large-boxes flex flex-col md:flex-row px-8 justify-between">
        <div class="notices  shadow-lg  m-2 rounded-md  border   w-full h-full bg-gray-50 hover:shadow-xl transition-all ease-in-out duration-300">
            <div class="flex text-lg p-4 ">Notices</div>
            <div class="flex pl-5 pr-10 justify-between">
                <div class="w-[25%]">Title</div>
                <div class="w-[50%] ">Message</div>
                <div class="w-[25%] text-right">Actions</div>
            </div>
            <hr class=" border-gray-200 border-1  w-[94%] ml-[2%] mb-3">
            <div id="noticeContainer" class=" overflow-y-scroll h-80">
                
            </div>
        </div>
        <div class="calender border m-2 rounded-md shadow-lg w-full md:w-[480px] p-2  h-fit  bg-gray-50 hover:shadow-xl transition-all ease-in-out duration-300" id="calendar">
            <!-- <calendar/> -->
        </div>
    </div>
    <div id="noticeViewModal" class="hidden transition-opacity ease-in-out duration-1000 absolute w-full h-full z-20 bg-[rgba(116,116,116,0.5)]">
        <div class=" flex relative  z-20 rounded-md flex-col bg-white shadow-lg p-3 ml-[25%] mt-[10%]  w-[50%]">
            <div class="font-bold pb-5">Notice</div>
            <hr class=" border-gray-300 border-1  w-full  mb-3">
    
            <div class="flex font-bold text-lg pb-5" id="noticeModalHeader">Header</div>
            <div class="flex" id="noticeModalDes"> description</div>
            <div id="noticeViewModalCloseBtn" class="absolute  -right-2 -top-2 bg-[rgb(255,103,43)] rounded-full h-6 w-6 flex justify-center items-center cursor-pointer hover:bg-red-500">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
       </div>
</div>
<script src="../scripts/renderer/noticeRenderer.js"></script>

