---

---
<div class="navbar flex m-0 justify-between px-2 items-center h-16 bg-blue-400 " >
    <!-- college logo -->
    <div class="logo flex  justify-center items-center mx-5">
        <img src="../../assets/logo.png" class="h-[2.8rem]" alt="user photo">
    </div>
        <!-- user profile -->
        <div id="userProfile" class="z-10 user-profile items-center   rounded-full cursor-pointer  bg-gray-100 w-fit absolute right-1 top-2 " >
            <div class="profile-img flex justify-between items-center px-2 pr-5 py-1 bg-gray-100 rounded-md" >
                <div class="rounded-full border border-black w-10 h-10 mr-2">
                <!-- <img src="assets/logo.png" class="h-11" alt=""> -->
                </div>
                <div class="name-and-position">
                    <div class="name text-black font-bold text-md leading-[15px]" id="navName"></div>
                    <div class="position text-gray-500 text-sm" id="navPosition"></div>
                </div>
            </div>
            <div class="details hidden flex-col pt-2 transition-all ease-in-out shadow-xl" id="userDetails">
                <a href="/profile/settings" class="hover:bg-blue-300 px-5 py-2 border-t-2 border-gray-400"><i class="fa-solid fa-gear"></i> Account Settings</a>
                <a href="/profile/teacher" class="hover:bg-blue-300 px-5 py-2 "><i class="fa-solid fa-user"></i> Profile</a>
                <a href="/" class="hover:bg-blue-300 px-5 py-2 rounded-md" id="logout"><i class="fa-solid fa-right-from-bracket "></i> Logout</a>
            </div>
        </div>
</div>

<script>
    import Cookies from 'js-cookie';
    const displayName=document.getElementById('navName');
    const displayPosition=document.getElementById('navPosition');

    const userData=JSON.parse(localStorage.getItem('user-details'));
    displayName.innerHTML=userData.name;
    displayPosition.innerHTML=userData.role;
    // console.log(userDetails);
    //logout


    document.getElementById('logout').addEventListener('click',()=>{
        Cookies.remove('userData');
        localStorage.removeItem('user-details');
        location.href='/';
    })

</script>
