
<div class="navbar flex m-0 justify-between px-2 items-center bg-blue-400 " >
    <!-- college logo -->
    <div class="logo flex  justify-center items-center  ">
        <img src="assets/logo.png" class="h-16" alt="user photo">
    </div>
        <!-- user profile -->
        <div id="userProfile" class="user-profile items-center   rounded-full cursor-pointer  bg-gray-100 w-fit absolute right-1 top-2 " >
            <div class="profile-img flex justify-between items-center px-2 pr-5 py-1" >
                <div class="rounded-full border border-black w-10 h-10 mr-2">
                <!-- <img src="assets/logo.png" class="h-11" alt=""> -->
                </div>
                <div class="name-and-position">
                    <div class="name text-black font-bold text-md leading-[15px]">Sachet Subedi</div>
                    <div class="position text-gray-500 text-sm">Student</div>
                </div>
            </div>
            <div class="details hidden flex-col pt-2 transition-all ease-in-out shadow-xl" id="userDetails">
                <a href="" class="hover:bg-blue-300 px-5 py-2 border-t-2 border-gray-400"><i class="fa-solid fa-gear"></i> Account Settings</a>
                <a href="" class="hover:bg-blue-300 px-5 py-2 "><i class="fa-solid fa-user"></i> Profile</a>
                <a href="" class="hover:bg-blue-300 px-5 py-2"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </div>
        </div>
</div>
