<div>
	<div class="font-bold p-5 text-2xl text-center w-full">
		<span class="border-b-[3px] py-2 border-blue-500">Semesters</span>
	</div>

	<div class="container p-10 flex flex-col">
		<div class="csit  p-5 rounded-md w-full">
			<div class="title text-xl mb-5">BSC. CSIT</div> 

            <div class="semesters grid grid-cols-4 gap-10" id="semesterContainer">
                <!-- <div class="semester h-36 bg-blue-300  rounded-md p-2 flex flex-col justify-between  bg-center bg-cover bg-no-repeat" style="background-image: url(../../assets/firstSemester-icon.png);">
                    
                    <div class="lowerDiv bg-white rounded-md px-2 font-semibold h-fit w-fit" >
                        First Semester
                    </div>
                    <div class="lowerDiv bg-white rounded-md px-2 font-semibold h-fit flex justify-between" >
                        <div>5 Subjects</div>
                        <div>5 Teachers</div>
                    </div>
                </div> -->
            </div>
		</div>
	</div>
	<script src="../scripts/semester/semesterRenderer.js"></script>
</div>
