<div class=" font-bold p-5 text-2xl text-center w-full"><span class="border-b-[3px] py-2 border-blue-500">Semesters</span></div>
<div id="semesterDiv" class="flex justify-center gap-7 flex-wrap mt-7">

</div>
<script src="../scripts/renderer/semesterRenderer.js"></script>