<div class="mainBox w-full xl:w-full px-5   h-[100vh] flex flex-col bg-gray-100">
    <div class=" font-bold p-5 text-2xl text-center w-full"><span class="border-b-[3px] py-2 border-blue-500">Students</span></div>
    <div id="studentsContainer" class=" grid grid-cols-1 w-full py-5  sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4  gap-5">
</div>
</div>
<script src="../scripts/renderer/studentsRenderer.js"  ></script>