<div class=" font-bold p-5 text-2xl text-center w-full"><span class="border-b-[3px] py-2 border-blue-500">Subjects</span></div>
<div id="semesterId" class="flex">
   
</div>
<div id="subjectDiv" class="grid grid-cols-4 gap-7 flex-wrap mt-7 mx-12"></div>
<script src="../scripts/renderer/subjectsRenderer.js"></script>
