/* .internal-mark{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
}*/
/* .internal-mark-input{
    background:rgb(222, 222, 222);
    transition: 1s ease-in-out;
}
 */
