<div
  id="deleteConfirmationBox"
  class=" rounded-b-md translate-x-[-47%] top-[-100vh] border-0 absolute bg-green-400 p-3"
>
  &checkmark; Question deleted
</div>
<div
  id="deleteErrorBox"
  class=" rounded-b-md translate-x-[-47%] top-[-100vh] border-0 absolute bg-red-600 p-3"
>
  &cross; Question doesn't exist
</div>
<div
  id="deleteServerErrorBox"
  class=" rounded-b-md translate-x-[-47%] top-[-100vh] border-0 absolute bg-red-300 p-3"
>
  &cross; Internal server error
</div>