<div class="left-side w-[50%] flex">
    <div class="photo">
        <img src="../../../../assets/demo.jpg" height="200px" width="200px" class="bg-center bg-cover rounded-md" alt="user photo">
    </div>
    <div class="user-details flex">
        <div class=" flex flex-col labels pl-10  py-2 font-bold">
            <div class="border-b-2 border-gray-200 py-3">Name</div>
            <div class="border-b-2 border-gray-200 py-3">Age</div>
            <div class="border-b-2 border-gray-200 py-3">Gender</div>
            <div class="border-b-2 border-gray-200 py-3">Email</div>
            <div class="border-b-2 border-gray-200 py-3">Address</div>
            <div class="border-b-2 border-gray-200 py-3">Phone </div>
        </div>
        <div class="values flex flex-col labels   py-2 text-gray-500">
            <div class="border-b-2 border-gray-200 py-3 pl-10">Sachet Subedi</div>
            <div class="border-b-2 border-gray-200 py-3 pl-10">20</div>
            <div class="border-b-2 border-gray-200 py-3 pl-10">Male</div>
            <div class="border-b-2 border-gray-200 py-3 pl-10">sachetsubedi001@gmail.com</div>
            <div class="border-b-2 border-gray-200 py-3 pl-10">Tokha</div>
            <div class="border-b-2 border-gray-200 py-3 pl-10">9860251616 </div>
        </div>
    </div>
</div>
<div class="right-side w-[50%]">
    <div class="user-analytics flex">
        <div class=" flex flex-col labels pl-10  py-2 font-bold">
            <div class="border-b-2 border-gray-200 py-3">Position</div>
            <div class="border-b-2 border-gray-200 py-3">Semester</div>
            <div class="border-b-2 border-gray-200 py-3">Average attendance</div>
            <div class="border-b-2 border-gray-200 py-3">Average assignment submission</div>
            
        </div>
        <div class="values flex flex-col labels   py-2 text-gray-500">
            <div class="border-b-2 border-gray-200 py-3 pl-10">Student</div>
            <div class="border-b-2 border-gray-200 py-3 pl-10">5</div>
            <div class="border-b-2 border-gray-200 py-3 pl-10">69%</div>
            <div class="border-b-2 border-gray-200 py-3 pl-10">70%</div>
            
        </div>
    </div>

</div>