<main class="h-screen flex justify-center items-center">
  <section class="p-5 rounded-xl shadow-xl w-[22rem]">
    <div>
      <div>
        <p class="text-center text-3xl">FORGOT PASSWORD ?</p>
        <p class="text-center p-3 w-56 m-auto text-sm">
          Enter your registered email ID to reset your password.
        </p>
      </div>
      <div class="p-4 grid gap-3">
        <form action="" class="grid gap-3" id="form">
          <label for="email">EMAIL ID</label>
          <input
            class="bg-slate-100 rounded-md p-2"
            required
            type="email"
            id="email"
            placeholder="example@gmail.com"
          />
          <div id="error" class="hidden gap-1 text-sm rounded-md">
            <span
              class="text-sm bg-red-500 text-white rounded-full flex justify-center items-center h-5 w-5 p-2"
              >!</span
            ><p class="text-red-900">Email not found. please try again</p>
          </div>
          <button type="submit" class="bg-blue-400 rounded-md p-2">SEND</button>
        </form>
        <a href="/" class="w-fit text-blue-600 underline"
          >&larr; Back to sign in</a>
      </div>
    </div>
  </section>
</main>

<script type="module">
  const form = document.getElementById("form");
  const email = document.getElementById("email");
  const error = document.getElementById("error");
  email.addEventListener("change", () => {
    error.classList.replace("flex", "hidden");
  });
  form.addEventListener("submit", (event) => {
    event.preventDefault();
    const result = {
      email: email.value,
    };

    fetch("http://localhost:3000/api/auth/emailCheck", {
      method: "POST",
      headers: {
        "content-type": "application/json",
      },
      body: JSON.stringify(result),
    })
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        if (data.status == 500) {
          error.classList.replace("hidden", "flex");
        }
      })
      .catch((err) => err);
  });
</script>
