<div
			class="notices shadow-lg m-2 rounded-md border w-full h-full bg-white hover:shadow-xl transition-all ease-in-out duration-300"
		>
			<div class="flex text-lg p-4">Notices</div>
			<div class="flex pl-5 pr-10 justify-between">
				<div class="w-[25%]">Title</div>
				<div class="w-[50%]">Message</div>
				<div class="w-[25%] text-right">Actions</div>
			</div>
			<hr class="border-gray-200 border-1 w-[94%] ml-[2%] mb-3" />
			<div id="noticeContainer" class="overflow-y-scroll h-80">
				<div id="loadingNoticesDisplay" class="pl-5 font-medium">
					Loading notices<span id="loadingDot"></span>
				</div>
			</div>
		</div>